.Site {
    background: #cdcbcb;
    height: 100%;
}
.bl-body{
    display: flex;
	flex-direction: column;
    width: 933px;
    padding-top: 100px;
    margin-left:	auto;
    margin-right:	auto;
    max-width: 100%;
    flex: 1;
    
}
.bl-background {
    display: flex;
    align-items: stretch;
    position: relative;
    width:	100%;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
}
.bl-column1 {
    vertical-align: top;
    display: inline-block;
    width:	68%;
    padding: 14px;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    min-width: 390px;
    flex-grow: 1;
}
.bl-column2 {
    vertical-align: top;
    float: right;
    display: inline-block;
    width:	32%;
    padding: 14px;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    min-width: 220px;
    flex-grow: 2;
}
.bl-list {
    display: block;
    width:	auto;
    height: 100%;
    background: white;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
}
.bl-stock{
    display: block;
    width:	auto;
    background: white;
    border-radius: 4px;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    height: auto;
}
.bl-searchline {
    padding: 13px;
    height: 19%;
}
.bl-search {
    height: 100%;
    display: flex;
}
.bl-add{
    width:	110px;
    background-color: #2185D0;
    color: white;
    border-bottom-color: white;
    border-top-color: white;
    border-right-color: white;
    border-left-color: #2185D0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}
.bl-input {
    width:	85%;
    padding: 9px;
    padding-left: 15px;
    padding-bottom: 8px;
    border-color: #cdcbcb;
    text-decoration-style: solid;
    text-decoration-color: #cdcbcb;
    border-style: solid;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    text-align: start;
}
.bl-line {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 45px;
    border-bottom-color: #cdcbcb;
    border-top-width: 1px;
    border-top-style: inset;
}

.bl-firstText {
    padding: 13px;
    height: 20px;
    width:	15%;
}

.bl-firstCentral {
    padding: 5px;
    padding-right: 5px;
    height: 78%;
    width:	130px;
    box-sizing: border-box;
}
.bl-firstEnd {
    padding-right: 14px;
    padding-top: 5px;
    height: 78%;
    width:	130px;
}
.bl-firstMinus {
    background-color: indianred;
    color: white;
    border-radius: 50px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    height: 35px;
    float: left;
    width:	35px;
}
.bl-firstNumberBackground {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    height: 24px;
    float: left;
    width:	32px;
}
.bl-firstNumber {
    border-radius: 6px;
    background-color: #cdcbcb;
    height: 100%;
    text-align: center;
    padding-top: 6px;
}

.bl-firstPlus {
    background-color: darkseagreen;
    color: white;
    border-radius: 50px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    height: 35px;
    float: left;
    width:	35px;
}

.bl-firstBought {
    width: 90px;
    float: right;
    height: 35px;
    background-color: #cdcbcb;
    border-radius: 4px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    margin-right: 5px;
}

.bl-firstDelete {
    width: 35px;
    float: right;
    height: 35px;
    background-color: red;
    color: white;
    border-radius: 4px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

.bl-rest {
    height: auto;
    min-height: 40px;
    width: 100%;
    border-bottom-color: #cdcbcb;
    border-bottom-width: 1px;
    border-bottom-style: inset;   
}
.bl-rest2 {
    height: auto;
    min-height: 40px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.bl-title {
    padding: 13px;
    display: block;
    position: fixed;
    height: auto;
    float: left;
}
.bl-Item {
    float: left;
    width: auto;
    height: 38px;
    background-color: #cdcbcb;
    border-radius: 4px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    margin-bottom: 4px;
    margin-right: 4px;
    box-sizing: border-box;
    display: flex;
    
}

.bl-secondText {
    padding-top: 10px;
    padding-left: 5px;
    float: left;
    width: auto;
}

.bl-NumberBackground {
    width: 20px;
    padding-top: 9px;
    padding-right: 5px;
    height: 24px;
    float: left;
    margin-left: 5px;
}
.bl-Number {
    border-radius: 30px;
    background-color: coral;
    height: 19px;
    text-align: center;
    padding-top: 1px;
}
.bl-badge {
    background: rgba(163, 24, 204, 0.94);
    width: 150px;
    height: 130px;
    bottom: -80px;
    left: 20px;
    position: fixed;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all 1s ease;
}

.bl-badge:hover {
    background: #5f24ff;
    transform: translateY(-80px);
}

.bl-buy-list {
    color: white;
    margin: 25px;
    margin-top: 15px;
    font-size: 20px;
    display: block;
    font-weight: bold;
}

.bl-created-by {
    color: white;
    font-size: 18px;
    display: inline-block;
}

.bl-name {
    font-size: 20px;
    display: block;
}

@media print {
    .badge {
        padding-top: 20px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        bottom: 1px;
        height: 80px;
        border: black solid 4px;
    }

    .buy-list {
        display: none;
    }

    .created-by {
        color: black;
        background: white;

    }
}
button::after {
    background: #A318CC;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: white;
    content: attr(data-tooltip);
    margin-left: -40px;
    margin-top: -38px;
    opacity: 0;
    transform: scale(0);
    padding: 7px 7px;
    position: absolute;
    visibility: hidden;
    font-weight: normal;
    font-size: 14px;
    transition: all 0.5s ease;
}

button:hover:after {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}